@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/***** VARIABLES CSS ******/
:root {
  /****** Colors ******/
  --first-color: #272A3A;
  --first-color-light: #8A8EAA;
  --first-color-lighten: #73ecce;

  /****** Font and typography ******/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --smaller-font-size: .813rem;
}

/****** BASE ******/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  background: linear-gradient(to top, #56e2d7 0%, #58cff1 100%);
}

h1{
  margin: 0;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/****** DRAG and DROP ******/
.drop, .drop__container{
  display: grid;
}

.drop{
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.drop__card, .drop__data{
  display: flex;
  align-items: center;
}

.drop__card{
  width: 360px;
  justify-content: space-between;
  padding: .75rem 1.25rem .75rem .75rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2.5rem;
}

.drop__container{
  row-gap: 1rem;
  padding: 2rem;
}

.drop__img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 1rem;
}

.drop__name{
  font-size: var(--normal-font-size);
  color: var(--first-color);
  font-weight: 500;
  text-transform: uppercase;
}

.drop__profession{
  font-size: var(--smaller-font-size);
  color: var(--first-color-light);
  text-transform: uppercase;
}

.drop__social{
  color: var(--first-color);
}

.sortable-drag{
  opacity: 0;
}